apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-etcd
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: etcd
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  updateStrategy:
    type: RollingUpdate
  serviceName: {{ .Release.Name }}-etcd-client
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: etcd
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        checksum/configmap-etcd: {{ include (print $.Template.BasePath "/etcd-configmap.yaml") . | sha256sum }}
{{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
      labels:
        app.kubernetes.io/name: etcd
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
      - name: etcd
        image: {{ .Values.images.etcd.repository }}:{{ .Values.images.etcd.tag }}
        imagePullPolicy: {{ .Values.images.etcd.pullPolicy }}
        command:
        - /var/etcd/bin/bootstrap.sh
        readinessProbe:
          httpGet:
{{- if .Values.backupRestoreTLS }}
            scheme: HTTPS
{{- end }}
            path: /healthz
            port: {{ .Values.servicePorts.backupRestore }}
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -ec
            - ETCDCTL_API=3
            - etcdctl
{{ if .Values.etcdTLS }}
            - --cert=/var/etcd/ssl/tls/tls.crt
            - --key=/var/etcd/ssl/tls/tls.key
            - --cacert=/var/etcd/ssl/ca/ca.crt
{{ end }}
            - --endpoints={{ if .Values.etcdTLS }}https{{ else }}http{{ end }}://{{ .Release.Name }}-etcd-0:{{ .Values.servicePorts.client }}
{{- if and .Values.etcdAuth.username .Values.etcdAuth.password }}
            - --user={{ .Values.etcdAuth.username }}:{{ .Values.etcdAuth.password }}
{{- end }}
            - get
            - foo
          initialDelaySeconds: 15
          periodSeconds: 5
        ports:
        - containerPort: {{ .Values.servicePorts.server }}
          name: server
          protocol: TCP
        - containerPort: {{ .Values.servicePorts.client }}
          name: client
          protocol: TCP
        resources:
{{ toYaml .Values.resources.etcd | indent 10 }}
        env:
        - name: ENABLE_TLS
          value: "{{ if .Values.backupRestoreTLS }}true{{ else }}false{{ end }}"
        - name: BACKUP_ENDPOINT
          value: "http{{ if .Values.backupRestoreTLS }}s{{ end }}://localhost:{{ .Values.servicePorts.backupRestore }}"
        - name: FAIL_BELOW_REVISION_PARAMETER
          value: "{{ if .Values.backup.failBelowRevision }}&failbelowrevision={{ int $.Values.backup.failBelowRevision }}{{ end }}"
        volumeMounts:
        - name: {{ .Release.Name }}-etcd
          mountPath: /var/etcd/data/
        - name: etcd-config-file
          mountPath: /var/etcd/config/
{{- if .Values.etcdTLS }}
        - name: ca-etcd
          mountPath: /var/etcd/ssl/ca
        - name: etcd-tls
          mountPath: /var/etcd/ssl/tls
{{- end }}
{{- if .Values.backupRestoreTLS }}
        - name: ca-etcdbr
          mountPath: /var/etcdbr/ssl/ca
{{- end }}
      - name: backup-restore
        command:
        - etcdbrctl
        - server
        - --schedule={{ .Values.backup.schedule }}
{{- if eq .Values.backup.garbageCollectionPolicy "LimitBased" }}
        - --max-backups={{ .Values.backup.maxBackups }}
        - --garbage-collection-policy={{ .Values.backup.garbageCollectionPolicy }}
{{- end }}
        - --garbage-collection-period={{ .Values.backup.garbageCollectionPeriod }}
        - --data-dir=/var/etcd/data/new.etcd
        - --storage-provider={{ .Values.backup.storageProvider }}
        - --store-prefix={{ .Release.Name }}-etcd
{{- if .Values.backup.etcdQuotaBytes }}
        - --embedded-etcd-quota-bytes={{ int $.Values.backup.etcdQuotaBytes }}
{{- end }}
{{- if .Values.etcdTLS }}
        - --cert=/var/etcd/ssl/tls/tls.crt
        - --key=/var/etcd/ssl/tls/tls.key
        - --cacert=/var/etcd/ssl/ca/ca.crt
        - --insecure-transport=false
        - --insecure-skip-tls-verify=false
        - --endpoints=https://{{ .Release.Name }}-etcd-0:{{ .Values.servicePorts.client }}
{{ else }}
        - --insecure-transport=true
        - --insecure-skip-tls-verify=true
        - --endpoints=http://{{ .Release.Name }}-etcd-0:{{ .Values.servicePorts.client }}
{{- end }}
{{- if .Values.backup.defragmentationSchedule }}
        - --defragmentation-schedule={{ .Values.backup.defragmentationSchedule }}
{{- end }}
        - --etcd-connection-timeout={{ .Values.backup.etcdConnectionTimeout }}
        - --etcd-snapshot-timeout={{ .Values.backup.etcdSnapshotTimeout }}
        - --etcd-defrag-timeout={{ .Values.backup.etcdDefragTimeout}}
        - --delta-snapshot-period={{ .Values.backup.deltaSnapshotPeriod }}
        - --delta-snapshot-memory-limit={{ int $.Values.backup.deltaSnapshotMemoryLimit }}
{{- if and .Values.etcdAuth.username .Values.etcdAuth.password }}
        - --etcd-username={{ .Values.etcdAuth.username }}
        - --etcd-password={{ .Values.etcdAuth.password }}
{{- end }}
{{- if .Values.backupRestoreTLS }}
        - --server-cert=/var/etcdbr/ssl/tls/tls.crt
        - --server-key=/var/etcdbr/ssl/tls/tls.key
{{- end }}
{{- if .Values.backup.compression }}
        {{- if .Values.backup.compression.enabled }}
        - --compress-snapshots={{ .Values.backup.compression.enabled }}
        {{- end }}
        {{- if .Values.backup.compression.policy }}        
        - --compression-policy={{ .Values.backup.compression.policy }}
        {{- end }}
{{- end }}
{{- if .Values.autoCompaction }}
        {{- if .Values.autoCompaction.mode }}
        - --auto-compaction-mode={{ .Values.autoCompaction.mode }}
        {{- end }}
        {{- if .Values.autoCompaction.retentionLength }}
        - --auto-compaction-retention={{ .Values.autoCompaction.retentionLength }}
        {{- end }}
{{- end }}
        image: {{ .Values.images.etcdBackupRestore.repository }}:{{ .Values.images.etcdBackupRestore.tag }}
        imagePullPolicy: {{ .Values.images.etcdBackupRestore.pullPolicy }}
        ports:
        - containerPort: {{ .Values.servicePorts.backupRestore }}
          name: server
          protocol: TCP
        resources:
{{ toYaml .Values.resources.backup | indent 10 }}
        env:
        - name: STORAGE_CONTAINER
          value: {{ .Values.backup.storageContainer }}
{{- if eq .Values.backup.storageProvider "S3" }}
        - name: "AWS_REGION"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "region"
        - name: "AWS_SECRET_ACCESS_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "secretAccessKey"
        - name: "AWS_ACCESS_KEY_ID"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "accessKeyID"
{{- else if eq .Values.backup.storageProvider "ABS" }}
        - name: "STORAGE_ACCOUNT"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "storageAccount"
        - name: "STORAGE_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "storageKey"
{{- else if eq .Values.backup.storageProvider "GCS" }}
        - name: "GOOGLE_APPLICATION_CREDENTIALS"
          value: "/root/.gcp/serviceaccount.json"
{{- else if eq .Values.backup.storageProvider "Swift" }}
        - name: "OS_AUTH_URL"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "authURL"
        - name: "OS_DOMAIN_NAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "domainName"
        - name: "OS_USERNAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "username"
        - name: "OS_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "password"
        - name: "OS_TENANT_NAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "tenantName"
        - name: "OS_REGION_NAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "regionName"
{{- else if eq .Values.backup.storageProvider "OSS" }}
        - name: "ALICLOUD_ENDPOINT"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "endpoint"
        - name: "ALICLOUD_ACCESS_KEY_SECRET"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "accessKeySecret"
        - name: "ALICLOUD_ACCESS_KEY_ID"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "accessKeyID"
{{- else if eq .Values.backup.storageProvider "ECS" }}
        - name: "ECS_ENDPOINT"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "endpoint"
        - name: "ECS_ACCESS_KEY_ID"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "accessKeyID"
        - name: "ECS_SECRET_ACCESS_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "secretAccessKey"
  {{- if .Values.backup.ecs.disableSsl }}
        - name: "ECS_DISABLE_SSL"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "disableSsl"
              optional: true
  {{- end }}
  {{- if .Values.backup.ecs.insecureSkipVerify }}
        - name: "ECS_INSECURE_SKIP_VERIFY"
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-etcd-backup
              key: "insecureSkipVerify"
              optional: true
  {{- end }}
{{- end }}
        volumeMounts:
        - name: {{ .Release.Name }}-etcd
          mountPath: /var/etcd/data/
        - name: etcd-config-file
          mountPath: /var/etcd/config/
{{- if .Values.etcdTLS }}
        - name: ca-etcd
          mountPath: /var/etcd/ssl/ca
        - name: etcd-tls
          mountPath: /var/etcd/ssl/tls
{{- end }}
{{- if .Values.backupRestoreTLS }}
        - name: ca-etcdbr
          mountPath: /var/etcdbr/ssl/ca
        - name: etcdbr-tls
          mountPath: /var/etcdbr/ssl/tls
{{- end }}
{{- if eq .Values.backup.storageProvider "GCS" }}
        - name: etcd-backup
          mountPath: "/root/.gcp/"
{{- end }}
      volumes:
      - name: etcd-config-file
        configMap:
          name: {{ .Release.Name }}-etcd-config
          defaultMode: 0644
          items:
          - key: etcd.conf.yaml
            path: etcd.conf.yaml
{{- if .Values.etcdTLS }}
      - name: ca-etcd
        secret:
          secretName: {{ .Release.Name }}-etcd-ca
      - name: etcd-tls
        secret:
          secretName: {{ .Release.Name }}-etcd-tls
{{- end }}
{{- if .Values.backupRestoreTLS }}
      - name: ca-etcdbr
        secret:
          secretName: {{ .Release.Name }}-etcdbr-ca
      - name: etcdbr-tls
        secret:
          secretName: {{ .Release.Name }}-etcdbr-tls
{{- end }}
{{- if and .Values.backup.storageProvider (not (eq .Values.backup.storageProvider "Local")) }}
      - name: etcd-backup
        secret:
          secretName: {{ .Release.Name }}-etcd-backup
{{- end }}
  volumeClaimTemplates:
  - metadata:
      name: {{ .Release.Name }}-etcd
    spec:
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: {{ .Values.storageCapacity }}
          