{{- if and .Values.backup.storageProvider (not (eq .Values.backup.storageProvider "Local")) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-etcd-backup
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: etcd
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
data:
{{- if eq .Values.backup.storageProvider "S3" }}
  region: {{ .Values.backup.s3.region | b64enc }}
  secretAccessKey: {{ .Values.backup.s3.secretAccessKey | b64enc  }}
  accessKeyID: {{ .Values.backup.s3.accessKeyID | b64enc }}
{{- else if eq .Values.backup.storageProvider "ABS" }}
  storageAccount: {{ .Values.backup.abs.storageAccount | b64enc }}
  storageKey : {{ .Values.backup.abs.storageKey | b64enc }}
{{- else if eq .Values.backup.storageProvider "GCS" }}
  serviceaccount.json : {{ .Values.backup.gcs.serviceAccountJson | b64enc }}
{{- else if eq .Values.backup.storageProvider "Swift" }}
  authURL: {{ .Values.backup.swift.authURL | b64enc }}
  domainName: {{ .Values.backup.swift.domainName | b64enc }}
  username: {{ .Values.backup.swift.username | b64enc }}
  password: {{ .Values.backup.swift.password | b64enc }}
  tenantName: {{ .Values.backup.swift.tenantName | b64enc }}
{{- else if eq .Values.backup.storageProvider "OSS" }}
  endpoint: {{ .Values.backup.oss.endpoint | b64enc }}
  accessKeySecret: {{ .Values.backup.oss.accessKeySecret | b64enc }}
  accessKeyID: {{ .Values.backup.oss.accessKeyID | b64enc }}
{{- end }}
{{- end }}
