{{- if and .Values.backup.storageProvider (not (eq .Values.backup.storageProvider "Local")) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-etcd-backup
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: etcd
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
data:
{{- if eq .Values.backup.storageProvider "S3" }}
  region: {{ .Values.backup.s3.region | b64enc }}
  secretAccessKey: {{ .Values.backup.s3.secretAccessKey | b64enc  }}
  accessKeyID: {{ .Values.backup.s3.accessKeyID | b64enc }}
  s3ForcePathStyle: {{ .Values.backup.s3.s3ForcePathStyle | b64enc}}
  {{- if .Values.backup.s3.endpoint }}
  endpoint: {{ .Values.backup.s3.endpoint | b64enc }}
  {{- end }}
{{- else if eq .Values.backup.storageProvider "ABS" }}
  storageAccount: {{ .Values.backup.abs.storageAccount | b64enc }}
  storageKey : {{ .Values.backup.abs.storageKey | b64enc }}
  {{- if .Values.backup.abs.emulatorEnabled }}
  emulatorEnabled: {{ .Values.backup.abs.emulatorEnabled | b64enc}}
  {{- end }}
  {{- if .Values.backup.abs.domain }}
  domain: {{ .Values.backup.abs.domain | b64enc}}
  {{- end }}
{{- else if eq .Values.backup.storageProvider "GCS" }}
  serviceaccount.json : {{ .Values.backup.gcs.serviceAccountJson | b64enc }}
  {{- if .Values.backup.gcs.storageAPIEndpoint }}
  storageAPIEndpoint: {{ .Values.backup.gcs.storageAPIEndpoint | b64enc}}
  {{- end }}
  {{- if .Values.backup.gcs.emulatorEnabled }}
  emulatorEnabled: {{ .Values.backup.gcs.emulatorEnabled | b64enc}}
  {{- end }}
{{- else if eq .Values.backup.storageProvider "Swift" }}
  authURL: {{ .Values.backup.swift.authURL | b64enc }}
  domainName: {{ .Values.backup.swift.domainName | b64enc }}
  username: {{ .Values.backup.swift.username | b64enc }}
  password: {{ .Values.backup.swift.password | b64enc }}
  tenantName: {{ .Values.backup.swift.tenantName | b64enc }}
  regionName: {{ .Values.backup.swift.regionName | b64enc}}
{{- else if eq .Values.backup.storageProvider "OSS" }}
  endpoint: {{ .Values.backup.oss.endpoint | b64enc }}
  accessKeySecret: {{ .Values.backup.oss.accessKeySecret | b64enc }}
  accessKeyID: {{ .Values.backup.oss.accessKeyID | b64enc }}
{{- else if eq .Values.backup.storageProvider "OCS"}}
  accessKeyID: {{ .Values.backup.ocs.accessKeyID | b64enc }}
  secretAccessKey: {{ .Values.backup.ocs.secretAccessKey | b64enc }}
  endpoint: {{ .Values.backup.ocs.endpoint | b64enc }}
  region: {{ .Values.backup.ocs.region | b64enc }}
{{- else if eq .Values.backup.storageProvider "ECS" }}
  endpoint: {{ .Values.backup.ecs.endpoint | b64enc }}
  accessKeyID: {{ .Values.backup.ecs.accessKeyID | b64enc }}
  secretAccessKey: {{ .Values.backup.ecs.secretAccessKey | b64enc  }}
  {{- if .Values.backup.ecs.disableSsl }}
  disableSsl: {{ .Values.backup.ecs.disableSsl | b64enc}}
  {{- end }}
  {{- if .Values.backup.ecs.insecureSkipVerify }}
  insecureSkipVerify: {{ .Values.backup.ecs.insecureSkipVerify | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
